<?php

return [
    'doctrine' => [
        'connection' => [
            'dbname' => 'dime',
            'user' => 'root',
            'password' => '',
            'host' => 'localhost',
            'driver' => 'mysqli',
            'charset' => 'utf-8'
        ]
    ],
];

